@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Analytical, detail-oriented, and collaborative IT focused professional with a passion for assisting individuals and organizations with technological needs in efforts to solve operational challenges. 
    Adept at providing support and ensuring that team members are working at top efficiency within pressure driven environments. 
    Experience with communicating with high level management and other IT professionals. </p>
