
@{
    ViewBag.Title = "Certifications";
}

<h2>Certifications</h2>


<div class="row">
    <div class="col-sm-6">
        <h3>
            Computer Support Technician Certification
        </h3>
        <h4>
            2011
        </h4>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-6">
        <h3>
            CompTIA A+ Certification 
        </h3>
        <h4>
            2011
        </h4>
    </div>
</div>