@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    584 Maplewood Ave<br />
    Whitehall, OH 43213<br />
    <abbr title="Phone">P:</abbr>
    (614)961-9052
</address>

<address>
    <strong>Work E-Mail:</strong>   <a href="mailto:dereck.tedder@icstars-columbus.org">dereck.tedder@icstars-columbus.org</a><br />
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/dereck-tedder-149551145/" target="_blank">www.linkedin.com/in/dereck-tedder-149551145</a><br />
    <strong>GitHub</strong> <a href="https://github.com/DJtedder" target="_blank">github.com/DJtedder</a>
</address>