
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>


<div class="row">
    <div class="col-sm-6">
        <h3>
            Associate of Applied Science, Information Technology
        </h3>
        <h4>
            Harrison College, Columbus, Ohio
        </h4>
        <h4>
            Expected 2018
        </h4>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-6">
        <h3>
            Computer Support Technician Certification
        </h3>
        <h4>
            Eastland-Fairfield Career Center, Carroll, Ohio
        </h4>
        <h4>
            2011
        </h4>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-6">
        <h3>
            High-school Diploma 
        </h3>
        <h4>
           Whitehall Yearling High-School, Whitehall, Ohio
        </h4>
        <h4>
           2011
        </h4>
    </div>
</div>

