
@{
    ViewBag.Title = "Experience";
}

<h2>Experience</h2>
<br />
<div class="row">
    <div class="col-lg-12">
        <h3>
            <center>
                <strong>
                    Experience in: Project Management, I.T. Support, Security Services, Customer Support/Interaction
                </strong>
            </center>
        </h3>
    </div>
</div>
<br />

<div class="row">
    <div class="col-sm-6">
        <p>
            <strong>
                i.c.stars\* Columbus<br />
                Columbus, Ohio <br />
                2017 – 2017 <br />
                Project Manager/Developer/Intern<br />
            </strong>
        </p>
        <ul>
            <li>Ensure project members were on task.</li>
            <li>Maintain required specifications regarding requirements.</li>
            <li>Communicate with members of AEP staff to ensure requirements were meet.</li>
            <li>Develop custom code in C#.</li>
            <li>Work with IDE including Sublime, Visual Studio, and Notepad+.</li>
            <li>Completed a variety of “Workshops” including Civics, Social media, and Marketing.</li>
        </ul>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-6">
        <p>
            <strong>
                Aegis Protective Services<br />
                Columbus, Ohio <br />
                2016 – 2017 <br />
                Loss Prevention/Security - Lead Officer<br />
            </strong>
        </p>
        <ul>
            <li>Close facility daily; perform daily safety assessments and provide recommendations regarding audits.</li>
            <li>Monitor activities to ensure customers received satisfactory service and quality goods. </li>
            <li>Process daily activity reports regarding incidents and or concerns. </li>
            <li>Instruct staff on how to handle difficult situations. </li>
            <li>Assign employees to specific duties based on facility needs. </li>
            <li>Enforce safety, health, and security rules; examine perimeter to ensure that it is correctly secured. </li>

        </ul>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-6">
        <p>
            <strong>
                ODW Logistics<br />
                Groveport, Ohio  <br />
                2014 – 2016 <br />
                Lift Operator - Project Manager <br />
            </strong>
        </p>
        <ul>
            <li>Ensured equipment was safe and ready to use for the proceeding shift.</li>
            <li>Train and evaluate new employees on safe and productive material handling.</li>
            <li>Used heavy warehouse equipment in a safe and productive manner.</li>
            <li>Ensured correct loading and unloading of trucks.</li>
            <li>Monitored and authorized entrance and departure of employees, visitors, and other persons to guard against theft and maintain security of premises.</li>
            <li>Maintained a safe and productive work environment.</li>
        </ul>
    </div>
</div>
