@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1 i class="fa fa-diamond" aria-hidden="true"> Dereck Tedder <i class="fa fa-diamond" aria-hidden="true"></i></h1>
        <p class="lead">Bridging the gap between software and hardware.</p>
    </center>
</div>

<div class="row">
    <center>
        <div class="col-sm-6"><img class="img-circle" src="~/Content/pictures/dereck.jpg" width="80%" /></div>
    </center>
    <div class="col-sm-6">
        <p>
            The INFJ personality type is very rare, making up less than one percent of the population, but they nonetheless leave their mark on the world.
            As Diplomats, they have an inborn sense of idealism and morality, but what sets them apart is the accompanying Judging (J) trait – INFJs are not idle dreamers,
            but people capable of taking concrete steps to realize their goals and make a lasting positive impact.
        </p>
    </div>
</div>