
@{
    ViewBag.Title = "Skills";
}

<h2>Skills</h2>


<div class="row">
    <div class="col-sm-6">
        <h3>Technical</h3>
        <ul>
            <li>Visual Studio</li>
            <li>C# Programming</li>
            <li>HTML Programming</li>
            <li>MVC Format</li>
            <li>Problem Solving</li>
        </ul>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-6">
        <h3>Soft</h3>

        <ul>
            <li>Adaptability</li>
            <li>Flexibility</li>
            <li>Reliability</li>
            <li>Creative</li>
            <li>Determined</li>
            <li>Passionate</li>
        </ul>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-6">
        <h3>Leadership</h3>
        <ul>
            <li>Professionalism</li>
            <li>Communication</li>
            <li>Delegating</li>
            <li>Insightful</li>
            <li>Inspiring</li>
            <li>Convincing</li>
        </ul>
    </div>
</div>

